@font-face {
    font-family: 'display';
    src: url('../components/Fonts/Technology-Bold.ttf');
}

.financial-calculator-screen {
    display: flex;
    background: rgb(85, 83, 90);
    height: 100vh;

    .financial-calculator {
        width: 894px;
        height: 560px;
        margin: 0 auto;
        margin-top: 30px;
        border: 1px solid black;
        background: #0c1111;
        border-radius: 10px;

        .financial-calculator-header {
            width: 93%;
            height: 27%;
            margin: 5px auto;
            background: #d1d4ae;
            display: flex;
            align-items: center;
            border-radius: 10px 10px 0px 0px;

            img {
                width: 130px;
                height: 130px;
                margin-left: 32%;
            }

            .financial-calculator-display {
                margin-left: 10%;
                width: 50%;
                height: 60%;
                border: 8px solid #dbcf27;
                background: #95ab60;
                display: flex;
                border-radius: 10px;
                font-family: 'display';
                font-size: 60px;
                font-weight: 700;
                align-items: center;
                justify-content: center;
                letter-spacing: 5px;
            }
        }

        .financial-calculator-keyboard {
            width: 93%;
            height: 65%;
            border: 8px solid #d1d4ae;
            margin: 15px auto;

            .financial-calculator-keyboard-line {
                padding: 0 20px;
                display: flex;
                justify-content: space-evenly;
                gap: 25px;
                margin-bottom: 15px;
            }

            .financial-calculator-bottom {
                display: flex;
                gap: 25px;

                .financial-calculator-keyboard-second {
                    display: flex;
                    flex-direction: column;
                    width: 375px;
                    height: 180px;
                    gap: 25px;
                    margin-left: 20px;
                }
            }


            .financial-calculator-keyboard-third {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 10px 26px;
                height: 180px
            }

            .financial-calculator-keyboard-fourth-line {
                label {
                    color: #d1d4ae;
                    font-weight: 400;
                    letter-spacing: 10px;
                }
            }
        }
    }

    .financial-calculator-registers {
        width: 200px;
        height: fit-content;
        background: #d1d4ae;
        border-radius: 15px 15px 1px 1px;
        border: 5px solid #0c1111;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 30px ;

        .financial-calculator-registers-title {
            font-size: 25px;
            text-decoration: underline;
        }

        .financial-calculator-registers-variables{
            display: flex;
            gap: 5px;
            min-width: 100px;
            font-weight: 700;
            font-size: 20px;

            span {
                font-weight: 400;
                margin-left: auto;
            }
        }
    }
}